
<!-- profile -->
<div class="container">
    <h1 style="text-align: center;" appStrikethrough >Profile</h1>
    <br>
    <div class="media">
        <div class="row">
            <div class="col-md-4">
                <img src={{user.avatar_url}} class="mr-3 img-responsive img-cirlce" width="400" alt="...">
            </div>

        <div class="col-md-8">
            <div class="media-body">
                <div class="profile">
                <p *ngIf="user.name"><span>Name:</span>&nbsp;&nbsp;{{user.name}}</p>
                <p *ngIf="user.login"><span>Username:</span>&nbsp;&nbsp;{{user.login}}</p>
                <p><span>Followers:</span>&nbsp;&nbsp;{{user.followers}}</p>
                <p><span>Following:</span>&nbsp;&nbsp;{{user.following}}</p>
                <p *ngIf="user.public_repos"><span>Number of public repositories:</span>&nbsp;&nbsp;{{user.public_repos}}
                </p>
                <p *ngIf="user.bio"><span>Bio:</span>&nbsp;&nbsp;{{user.bio}}</p>
                <p *ngIf="user.created_at"><span>Created
                    on:</span>&nbsp;&nbsp;{{user.created_at|date}}&nbsp; &nbsp;&nbsp;{{user.created_at|dateCount}} days(s) ago</p>
                <a class="btn btn-default btn-block" target="_blank" href="{{user.html_url}}">View Profile</a>
                </div>
            </div>
        </div>
        </div>
    </div>
</div>
  <!-- repositories -->
  <br><br>
<div class="container"> 
    <div class=" repos">
        <app-repo></app-repo>
    </div>
</div>
