.container-body {
    border-radius: 20px;
    margin-top: 10px;
}
h2 {
    margin-top: 10px;
}
/* *{
    background-color: #f4ebde;
} */
.btn-block{
    background-color:#001d49 ;
    color: white;
}
