
<div class="container fluid">
    <h1 style="text-align: center;">Repositories</h1>
    <br>
    <div class="repo">
        <div class="card" *ngFor="let repo of repository" style="width: 22rem;">
            <div class="card-header">
                <h5 class="card-title">{{repo.name}} </h5>
            </div>
            <div class="card-body">
                <div class="card-text">
                    <div class="desc"><span class="top">Description:</span> &nbsp;{{repo.description}} 
                    </div>
                    <div class="card-subtitle mb-2">
                        <span class="top">Language: </span> {{repo.language}}
                    </div>
                    <div class="card-subtitle mb-2"><span class="top">Created On:</span> &nbsp;{{repo.created_at | date}}</div>
                </div>
            </div>
            <div class="card-footer">
                <button class="btn btn-sm btn-info"> {{repo.forks}}</button>&nbsp;
                <button class="btn btn-sm btn-outline-danger">Forks {{repo.forks}}</button>&nbsp;
                <button class="btn btn-sm btn-outline-danger" id="visit"><a href="{{repo.html_url}}" class="card-link">Visit &nbsp; </a> </button> 

            </div>
        </div>
    </div>
</div>




