
<div class="container fluid">
    <h1 style="text-align: center;"  appStrikethrough>Repositories</h1>
   <br>
    <div class="repo">
        <div class="card"  *ngFor="let repo of repository" style="width: 22rem;" appHighlight>
            <div class="card-header">
                <h5  class="card-title">{{repo.name}} </h5>
            </div>
            <div class="card-body">
                <div class="card-text">
                    <div class="desc"><span class="top">Description:</span> &nbsp;{{repo.description}} 
                    </div>
                    <div class="card-subtitle mb-2">
                        <span class="top">Language: </span> {{repo.language}}
                    </div>
                    <div class="card-subtitle mb-2" >
                        <span class="top"></span> <a href="{{repo.homepage}}">Live link: </a> 
                    </div>
                    <div class="card-subtitle mb-2"><span class="top">Created On:</span> &nbsp;{{repo.created_at|date}} &nbsp; &nbsp; {{repo.created_at | dateCount}} day(s) ago </div>
                </div>
            </div>
            <div class="card-footer">
                <button class="btn btn-sm "> <i class="fa-solid fa-eye"></i>  Watchers {{repo.watchers_count}}</button>&nbsp;&nbsp;&nbsp;
                <button class="btn btn-sm "><i class="fa-solid fa-code-fork"></i>&nbsp;Forks {{repo.forks}}</button>&nbsp;&nbsp;&nbsp;
                <button class="btn btn-sm  visit" id="visit"><a href="{{repo.html_url}}" >View &nbsp; </a> </button> 

            </div>
        </div>
    </div>
</div>




