<div class="container mt-3">
    <div class="row">
        <div class="col">
            <div class="card">
                <div class="card-header">
                    <h4>Github Repo Search</h4>
                </div>
                <div class="card-body">
                    <form class="form-inline" [formGroup]="searchForm" (ngSubmit)="searchGet()">
                        <div class="form group">
                            <input  type="text" placeholder="Repo name" name="reponame" formControlName="reponame"> &nbsp;&nbsp; <br><br>
                            <button class="btn  btn-sm" type="submit"> Search</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container fluid">
    <h1 style="text-align: center;" appStrikethrough>Repositories</h1>
    <br>
    <div class="row">
        <div class="repo col-md-4" *ngFor="let userRepo of userRepo">
            <div class="card repo" style="width: 22rem;">
                <div class="card-header">
                    <h5 *ngIf="userRepo.name" class="card-title">{{userRepo.name}} </h5>
                </div>
                <div class="card-body">
                    <div class="card-text">
                        <div *ngIf="userRepo.name" class="desc"><span class="top">Description:</span> &nbsp;{{userRepo.description}} 
                        </div>
                        <div class="card-subtitle mb-2">
                            <span *ngIf="userRepo.name" class="top">Language: </span> {{userRepo.language}}
                        </div>
                        <div *ngIf="userRepo.name" class="card-subtitle mb-2"><span class="top">Created On:</span> &nbsp;{{userRepo.created_at | date}}&nbsp; {{userRepo.created_at | dateCount}} day(s) ago</div>
                    </div>
                </div>
                <div class="card-footer">
                    <button *ngIf="userRepo.name" class="btn btn-sm ">Watchers {{userRepo.forks}}</button>&nbsp;
                    <button *ngIf="userRepo.name" class="btn btn-sm ">Forks {{userRepo.forks}}</button>&nbsp;
                    <button *ngIf="userRepo.name" class="btn btn-sm visit " id="visit"><a href="{{userRepo.html_url}}" class="card-link">View &nbsp; </a> </button> 
                </div>
            </div>
        </div>
    </div>
</div>
