/* You can add global styles to this file, and also import other style files */
@font-face {
    font-family: roboto;
    src: url(assets/Roboto_Condensed/RobotoCondensed-Regular.ttf);
}
*{
    font-family: roboto;
  
}
/* body{ 
    background-image: url("../src/assets/backdrop-g2b164c2a5_1280.jpg");  */
    /* background-image: url("../src/assets/package.avif");  */
   
     /* background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
  } */

